/*
 *   Ryan Dorman
 *   ID: 001002824
 */

* {
  dark-primary-color: #616161;
  default-primary-color: #9e9e9e;
  light-primary-color: #f5f5f5;
  text-primary-color: #212121;
  accent-color: #536dfe;
  primary-text-color: #212121;
  secondary-text-color: #757575;
  divider-color: #bdbdbd;

  -fx-font-family: 'Arial';
  -fx-text-fill: text-primary-color;
}

.root {
  -fx-background-color: light-primary-color;
  -fx-font-size: 13px;
}

.header-bg {
  -fx-background-color: dark-primary-color;
  -fx-effect: dropshadow(one-pass-box, dark-primary-color, 3px, 0, 1px, 1px);
}

.header-text {
  -fx-font-size: 32px;
  -fx-text-fill: light-primary-color;
  -fx-font-weight: lighter;
}

.secondary-header-text {
  -fx-font-size: 26px;
  -fx-text-fill: accent-color;
  -fx-font-weight: lighter;
}

.button {
  -fx-text-fill: light-primary-color;
  -fx-font-weight: bold;
  -fx-padding: 10px 50px;
  -fx-background-color: accent-color;
  -fx-effect: dropshadow(one-pass-box, dark-primary-color, 2px, 0, 1px, 1px);
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
}

.sm-button,
.dialog-pane .button {
  -fx-text-fill: light-primary-color;
  -fx-font-weight: bold;
  -fx-padding: 7px 20px;
  -fx-background-color: accent-color;
  -fx-effect: dropshadow(one-pass-box, dark-primary-color, 1.5px, 0, 1px, 1px);
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.button:pressed,
.sm-button:pressed,
.dialog-pane .button:pressed {
  -fx-effect: dropshadow(one-pass-box, dark-primary-color, 0, 0, 0, 0);
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.tab {
  -fx-background-color: dark-primary-color;
  -fx-font-size: 16px;
  -fx-padding: 12px 30px;
  -fx-effect: none;
  -fx-border-radius: 0px;
  -fx-background-radius: 0px;
  -fx-border-width: 4px;
  -fx-border-color: transparent transparent transparent transparent;
}

.tab--active {
  -fx-border-color: transparent transparent accent-color transparent;
}

.sm-text {
  -fx-font-size: 11px;
}

.text-light {
  -fx-text-fill: light-primary-color;
}

.text-secondary {
  -fx-text-fill: secondary-text-color;
}

.text-bold {
  -fx-font-weight: bold;
}

.text-align-right {
  -fx-text-alignment: right;
}

.text-label {
  -fx-font-size: 18px;
  -fx-text-fill: secondary-text-color;
  -fx-font-weight: bold;
}

.text-field {
  -fx-background-color: -fx-control-inner-background;
  -fx-background-insets: 0;
  -fx-padding: 10px;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 2px;
  -fx-border-color: transparent;
  -fx-effect: dropshadow(one-pass-box, default-primary-color, 2px, 0, 1px, 1px);
}

.text-field:focused {
  -fx-border-width: 2px;
  -fx-border-color: transparent transparent accent-color transparent;
}

.combo-box {
  -fx-background-color: -fx-control-inner-background;
  -fx-background-insets: 0;
  -fx-padding: 5px;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-border-width: 2px;
  -fx-border-color: transparent;
  -fx-effect: dropshadow(one-pass-box, default-primary-color, 2px, 0, 1px, 1px);
}

.radio-button .radio {
  -fx-background-color: default-primary-color;
}

.radio-button {
  -fx-focus-traversable: false;
}

.radio-button .dot {
  -fx-mark-highlight-color: accent-color;
  -fx-mark-color: accent-color;
}

.card {
  -fx-background-color: light-primary-color;
  -fx-border-color: divider-color;
  -fx-border-width: 0.5px;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-effect: dropshadow(one-pass-box, divider-color, 2px, 0, 1px, 1px);
}

.table-view,
.table-view:focused {
  -fx-font-weight: bold;
  -fx-border-color: divider-color;
  -fx-border-width: 0.5px;
  -fx-background-radius: 2px;
  -fx-border-radius: 2px;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.table-view .column-header > .label {
  -fx-padding: 15px 0;
  -fx-alignment: BASELINE_LEFT;
  -fx-text-fill: light-primary-color;
}

.table-view .table-column {
  -fx-alignment: CENTER-LEFT;
  -fx-padding: 0 0 0 10px;
  -fx-border-color: transparent transparent divider-color transparent;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
  -fx-background-color: dark-primary-color;
}

.table-view .table-row-cell {
  -fx-cell-size: 50px;
}

.table-view .table-row-cell:hover {
  -fx-background-color: 'rgba(83, 109, 254, 0.2)';
}

.table-view .table-row-cell:selected,
.table-view .table-row-cell:selected .text {
  -fx-background-color: 'rgba(83, 109, 254, 0.4)';
}

.table-view .scroll-bar {
  -fx-font-size: 5px;
}

.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.table-view .increment-button,
.table-view .decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: dark-primary-color;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
  -fx-background-color: dark-primary-color;
  -fx-border-color: dark-primary-color;
  -fx-background-radius: 0;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
  -fx-background-color: light-primary-color;
  -fx-border-color: dark-primary-color;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0;
}
